<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.findyourself">

    <application
        android:allowBackup="true"
        android:fitsSystemWindows="true"
        android:icon="@drawable/fy_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/fy_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.TipsActivity"></activity>
        <activity android:name=".activities.AboutActivity" />
        <activity android:name=".activities.ChatRoomActivity" />
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>